.message {
  width: auto;
  border: 1px solid #D8D9DE;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
}

.admin {
  text-align: right;
}

.visitor {
  text-align: left;
}
