.chat-box {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
  overflow: scroll;
}

.admin {
  text-align: right;
}

.visitor {
  text-align: left;
}

input {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
}
