<nav><a routerLink="/">Admin: {{chatLogService.adminId}}</a></nav>

<div class="container">
  <div id="chat-sidebar">
    <div *ngFor="let visitorId of chatLogService.getAllVisitors()">

      <a class="visitor-tab"
         routerLink="/conversation/{{chatLogService.threads[visitorId].visitor.id}}"
         routerLinkActive="is-active">

        <div class="unread"></div>
        {{chatLogService.threads[visitorId].visitor.alias}}
        <p>{{chatLogService.threads[visitorId].log[chatLogService.threads[visitorId].log.length - 1].text}}</p>
      </a>

    </div>
  </div>

  <div id="chat-container">
    <router-outlet></router-outlet>
  </div>

</div>
